<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- By clearing handlers, we stop Plesk/IIS from trying to run Python scripts for CSS and images -->
    <handlers>
      <clear />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
    </handlers>
    <staticContent>
      <remove fileExtension=".pdf" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
    </staticContent>
  </system.webServer>
</configuration>
